
<%= link_to "back", groups_path %>


<div class="total">
<span>Total: $<%= @total%></span>
</div>
<span class="group-header"><%= @group.name%></span>
<ul id="purchases" class="group">
  <% @purchases.each do |purchase| %>
    <%= render purchase %>
    
  <% end %>
  <div class='footer-btn tran-foot'>
  <%= link_to "add new Transaction", new_group_purchase_path %>
  </div>
</ul>