<p style="color: green"><%= notice %></p>

<%= render @group_purchase %>

<div>
  <%= link_to "Edit this group purchase", edit_group_purchase_path(@group_purchase) %> |
  <%= link_to "Back to group purchases", group_purchases_path %>

  <%= button_to "Destroy this group purchase", @group_purchase, method: :delete %>
</div>
