<li id="<%= dom_id category %>" class="cat-list">

  <div class="img">
    
    <img src=<%= category.icon %> />
  </div>

  <div class="mid">
    <%
=begin%>
 <strong>Name:</strong> 
<%
=end%>
    <h3><%=link_to category.name, category_transactions_path %></h3>
    <span>20 Apr 2010</span>

  </div>

  

  <div class="total">
    <strong>Total amount: $</strong>
    <%= 0 || category.total_amount %>
  </p>

  <%
=begin%>
 <p>
    <strong>User:</strong>
    <%= category.user_id %>
  </p> 
<%
=end%>

</li>
