<%= form_with model: trade, url: group_trades_path do |form| %>
  <% if trade.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(trade.errors.count, "error") %> prohibited this trade from being saved:</h2>

      <ul>
        <% trade.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <span class="form">
    <%= form.text_field :name, placeholder: 'Name' %>
    <%= form.text_field :amount, placeholder: 'Amount (in dollars)' %>
    <%= form.submit"Save", class: "form-button second" %>
  </span>
<% end %>
