<!DOCTYPE html>
<html>
  <head>
    <title>Cash Management</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
